.estilos__musicais{
        background:#000000;
       text-align: center;
        padding: 20px 0;
}
.estilos__musicais__título {
        color: #F5FA01;
        font-family: 'Poppins', sans-serif;
        font-weight:300;
        font-size: 16px;;
}
.estilos__musicais__lista{
        display:flex;
        flex-wrap:wrap; 
        justify-content: center;
}
.estilos__musicais__item{ 
        margin:20px 13px;
}
.estilos__musicais__link{
        background-color: #7E6F78;
        color: #F5FA01;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size:14px; 
        font-weight:700; 
        padding: 17px;
}